.para{
    color:blue

}
#click{
    color:red;
    
}
#stop{
    color:green;
}
li{
    width:500px;
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
    padding:10px;
    margin-top:5px;
}